<!DOCTYPE html>
<html lang="en" ng-app="calculatorApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../angular.js"></script>
    <script src="calculatorApp.js"></script>
</head>
<body>

    <div ng-controller="CalculatorController as calcCtrl">

        <p>
            <input type="text" ng-model="calcCtrl.param_1">
            {{calcCtrl.operator}}
            <input type="text" ng-model="calcCtrl.param_2">
            <button ng-click="calcCtrl.calculateResult()"> = </button>
            {{calcCtrl.result}}
        </p>
        Choose operation:
            <button ng-click="calcCtrl.setOperator('+')"> + </button>
            <button ng-click="calcCtrl.setOperator('-')"> - </button>
            <button ng-click="calcCtrl.setOperator('*')"> * </button>
            <button ng-click="calcCtrl.setOperator('/')"> / </button>
        </p>
    </div>
</body>
</html>